@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #FBFBFA; /* 马尔斯白：当代美术馆特种纸底色 */
    color: #111111; /* 炭黑体：极具雕刻感的文字颜色 */
    -webkit-font-smoothing: antialiased;
  }
  
  .font-serif {
    font-family: 'Cormorant Garamond', Georgia, serif; /* 高定奢华杂志专用衬线体 */
  }
}

/* 隐藏廉价的浏览器默认滚动条，改为极细极简的炭黑线 */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #FBFBFA;
}
::-webkit-scrollbar-thumb {
  background: #111111;
}

/* 高级反色选区：鼠标划选文字时，文字变白，背景变黑 */
::selection {
  background-color: #111111;
  color: #FBFBFA;
}